body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #f3f5fc;
  margin: 0;
  flex-direction: column;
}

#a-alura {
  align-self: flex-start;
  margin-top: 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 850px;
}

#inputTexto {
  width: 700px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  background: none;
  color: #0a3871;
}

#inputTexto::placeholder {
  color: #0a3871;
}

button {
  cursor: pointer;
  margin-right: 10px;
  width: 330px;
  padding: 20px;
  border-radius: 20px;
  font-size: 16px;
}

.conrelleno {
  background-color: #0a3871;
  color: white;
  transition: ease 0.3s;
  border: 1px solid #0a3871;
}

.sinrelleno {
  color: #0a3871;
  border: 1px solid #0a3871;
  background-color: rgba(0, 0, 0, 0);
  transition: ease 0.3s;
}

.sinrelleno:hover {
  background-color: #0a3871;
  color: white;
  border: 1px solid #0a3871;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.right-section {
  width: 400px;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.left-section {
  height: 100%;
  display: flex;
}

#outputTexto {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}

textarea {
  resize: none;
  font-family: Arial, sans-serif;
  height: 90%;
}

textarea:focus {
  outline: none;
}

#encript-zone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
}

#not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 25px;
  text-align: center;
}

#adviser {
  display: flex;
  flex-direction: row;
}

.ad {
  color: rgba(0, 0, 0, 0.5);
  margin-left: 5px;
}

#exclamation {
  width: auto;
  height: 100%;
  align-self: center;
}

#found {
  display: none;
  flex-direction: column;
  height: 95%;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
